body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.parent1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.add_room{
    display: flex;    
    justify-content: space-evenly;
    margin: 0 20px 0 50px;
}
.add_room input {
border: 1px solid black;
border-radius: 6px;
padding: 5px 15px;
}
.add_room  button{
border: 1px solid black;
border-radius: 6px;
cursor: pointer;
padding: 7px 40px;

}


.right1, .right2 ,.right3{
    width: 90%;
    text-align: center;
}

select{
    padding: 5px 40px;
    border-radius: 3px;
}
.right1 h3 ,.right2 h3 ,.right3 h3{
    margin: 30px;
    font-size: 30px;
}
.delet , .edit{
    padding: 5px 10px;
}
thead{
    text-align: center;
}